
body {
    margin: 50px 70px;
    padding: 0px;
    background-color: #f0efed;
}

main {
    padding: 0px;
}

footer {
    padding: 16px;
    background-color: #D9CF43 ;
    font-family:'M PLUS Rounded 1c', sans-serif;
    font-size: 18px;
    color:rgba(3, 103, 165, 1)
}

img {
    height: 150px;
}

nav {
    padding: 16px;
    margin-left: 0%;
    background-color: #F2D5BB;
    font-family:'M PLUS Rounded 1c', sans-serif;
    font-size: 18px;
}

.my-grid{
    display: grid;
    grid-template-rows: 4fr 4fr  ;
    grid-template-columns: 4fr 4fr 4fr 4fr ;
    font-family:'M PLUS Rounded 1c', sans-serif;
    font-size: 18px;
}

.h1-color {
    color: #F2505D;
    font-family: 'Homemade Apple', cursive;
    font-size: 40px;
    text-align: center;
    padding: 0%;
    margin: 0%;
}
.h2-color {
    color:#05A63D;
    font-family: 'Homemade Apple', cursive;
    font-size: 24px;
    text-align: center;
    padding: 0%;
    margin: 0%;
}

.a-color {
    color:#0367A6;
    font-size: 22px ;
    text-align: center;
}

div h3 a {
    font-family:'M PLUS Rounded 1c', sans-serif;
    font-size: large;
}

/* Color Theme Swatches in Hex */
.Flavour-1-hex { color: #F2505D; }
.Flavour-2-hex { color: #0367A6; }
.Flavour-3-hex { color: #05A63D; }
.Flavour-4-hex { color: #D9CF43; }
.Flavour-5-hex { color: #F2D5BB; }

/* Color Theme Swatches in RGBA */
.Flavour-1-rgba { color: rgba(242, 79, 93, 1); }
.Flavour-2-rgba { color: rgba(3, 103, 165, 1); }
.Flavour-3-rgba { color: rgba(4, 165, 61, 1); }
.Flavour-4-rgba { color: rgba(216, 206, 67, 1); }
.Flavour-5-rgba { color: rgba(242, 212, 186, 1); }

/* Color Theme Swatches in HSLA */
.Flavour-1-hsla { color: hsla(354, 86, 63, 1); }
.Flavour-2-hsla { color: hsla(202, 96, 33, 1); }
.Flavour-3-hsla { color: hsla(140, 94, 33, 1); }
.Flavour-4-hsla { color: hsla(56, 66, 55, 1); }
.Flavour-5-hsla { color: hsla(28, 68, 84, 1); }

tr::not(thead) :nth-child(odd)  {
    background-color: rgb(168, 199, 178);
}

tr:nth-child(even) {
    background-color:rgb(244, 217, 220);
    }

.head-style {
    color:#0367A6;
    background-color: #f4a3ab;
}
